body{
    padding: 10px;
    margin: none;
    font: arial;
}
input{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #5f9341;
    
}
button{   
    color: white;
    background-color: #5f9341;
    margin-top: 5px;
    padding: 10px 20px;
    border: none;
}